<!DOCTYPE html>
<html>
<head>
    <title>Phone Book</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#!/">Phone Book</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#!/add">Add</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="span2">
            <h3 class="pagination-centered">Contacts:</h3>
        </div>
        <div class="span10">
            <h3 class="pagination-centered">Contact Details:</h3>
        </div>

    </div>

    <div class="row">

        <div class="span2">
            <div class="row">
                <div class="span12">
                    <form class="navbar-search pull-left">
                        <input type="text" class="search-query" placeholder="Search">
                    </form>
                    <br/> <br/> <br/>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked" id="contact-list-block">
                <!-- Contact list would be injected here by Backbone.js -->
            </ul>

        </div>

        <div class="span10">
            <form class="form-horizontal" id="contact-details-block">
                <!-- Contact details would be injected here by Backbone.js -->
            </form>
        </div>
    </div>

</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/json2.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/backbone.localstorage.js"></script>
<script src="js/backbone.validation.js"></script>
<script src="js/phone-book.js"></script>


<script type="text/template" id="contact-list-template" >
    <% _.each(contact, function(entry) { %>
        <li><a href="#!/contact/<%= entry.id %>" class="entry" ><%= entry.name %></a></li>
    <% });%>
</script>

<script type="text/template" id="contact-details-template">

    <div class="control-group">
        <label class="control-label" for="inputName">Name:</label>

        <div class="controls ">
            <div class="input-prepend  ">
                <span class="add-on"><i class="icon-user"></i></span>
                <input type="text" id="inputName" placeholder="Name" value="<%=contact.name%>">
                <input type="hidden" name="contactId" id="contactId" value="<%=contact.id%>" />
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputEmail">Email:</label>

        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input type="text" id="inputEmail" placeholder="Email" value="<%=contact.email%>">
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputPhone">Phone:</label>

        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-th"></i></span>
                <input type="text" id="inputPhone" placeholder="Phone" class="error" value="<%=contact.phone%>">
            </div>
        </div>

    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" id="form-btn" type="button">Save</button>
            <button class="btn btn-danger" id="form-btn-remove" type="button">Remove</button>
        </div>
        <div class="controls">

        </div>
    </div>


</script>

</body>
</html>